<html>
   <head>
      <title>ERROR</title>
   </head>
   <body>
      <% include ('include/scripts') %>
      <div id='error'>
         <%= error.status %>
         <%= error.stack %>
      </div>
   </body>   
</html>   
